 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url("images/Shape.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1109px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  margin: 21px 821px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 836px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 849px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  text-align: start;
  margin: 24px 849px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 621px;
  }

  .u-section-1 .u-gallery-1 {
    height: 689px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-text-2 {
    margin-right: 649px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2189px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 401px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2111px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-2 {
    margin-right: 429px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6411px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 221px;
  }

  .u-section-1 .u-gallery-1 {
    height: 6333px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-2 {
    margin-right: 249px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4065px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 21px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3987px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 49px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url("images/Shape1.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-1 {
  margin: 19px 831px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  text-align: start;
  margin: 19px 849px 0 0;
}

.u-section-2 .u-gallery-2 {
  height: 417px;
  width: 743px;
  margin: 7px auto 0 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-image-7 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-8 {
  width: calc(100% + 50px);
  right: -50px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: none;
}

.u-section-2 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: -138px 70px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 0 0 19px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 631px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 649px;
  }

  .u-section-2 .u-back-image-7 {
    width: auto;
  }

  .u-section-2 .u-back-image-8 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-1 {
    margin-right: 411px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 429px;
  }

  .u-section-2 .u-gallery-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2749px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 249px;
  }

  .u-section-2 .u-gallery-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-2 .u-gallery-2 {
    width: 340px;
  }
}